[submodule "custom_components/dwd_pollen"]
	path = custom_components/dwd_pollen
	url = https://github.com/davidorlea/homeassistant-dwd_pollen.git
[submodule "custom_components/aseag_next_bus"]
	path = custom_components/aseag_next_bus
	url = https://github.com/davidorlea/homeassistant-aseag_next_bus.git
[submodule "custom_components/tankerkoenig"]
	path = custom_components/tankerkoenig
	url = https://github.com/davidorlea/homeassistant-tankerkoenig.git
[submodule "custom_components/voi_nearest_scooter"]
	path = custom_components/voi_nearest_scooter
	url = https://github.com/davidorlea/homeassistant-voi_nearest_scooter.git
[submodule "custom_components/tier_nearest_scooter"]
	path = custom_components/tier_nearest_scooter
	url = https://github.com/davidorlea/homeassistant-tier_nearest_scooter.git
