extends: default

rules:
  comments:
    require-starting-space: true
    min-spaces-from-content: 1
  document-start: disable
  indentation:
    level: error
    spaces: 2
    indent-sequences: true
    check-multi-line-strings: false
  line-length:
    level: warning
    max: 120
  new-line-at-end-of-file:
    level: error
  truthy: disable
