default_config:

homeassistant:
  name: !secret homeassistant_name
  latitude: !secret homeassistant_latitude
  longitude: !secret homeassistant_longitude
  elevation: !secret homeassistant_elevation
  country: !secret homeassistant_country
  unit_system: !secret homeassistant_unit_system
  time_zone: !secret homeassistant_time_zone
  currency: !secret homeassistant_currency
  customize: !include customize.yaml
  external_url: !secret homeassistant_external_url

logger:
  default: warning

frontend:
  themes: !include_dir_merge_named themes

lovelace:
  mode: yaml
  resources:
    # See https://github.com/davidorlea/homeassistant-next_bus_card
    - url: local/next-bus-card/next-bus-card.js
      type: module
    # See https://github.com/bokub/rgb-light-card
    - url: local/rgb-light-card/rgb-light-card.js
      type: module

http:
  server_port: !secret http_server_port
  cors_allowed_origins:
    - !secret http_cors_allowed_origins_1
  use_x_forwarded_for: true
  use_x_frame_options: true
  trusted_proxies:
    - !secret http_trusted_proxies_1
  ip_ban_enabled: true
  login_attempts_threshold: 5

influxdb: !include influxdb.yaml

recorder: !include recorder.yaml

logbook: !include logbook.yaml

history:

person:
  - name: David
    id: 78a185ec8193455c9a6c003f20b0b8fa
    user_id: ec480b5767924246a8f1532f585ae2ef
    device_trackers:
      - device_tracker.iphone_von_david

zone:
  name: Home
  latitude: !secret homeassistant_latitude
  longitude: !secret homeassistant_longitude
  radius: 100
  icon: mdi:home

sonos:
  media_player:
    advertise_addr: !secret sonos_media_player_advertise_addr
    hosts:
      - !secret sonos_media_player_hosts_1
      - !secret sonos_media_player_hosts_2
      - !secret sonos_media_player_hosts_3

powercalc:

alexa: !include alexa/smart_home.yaml

automation: !include_dir_merge_list automations

input_boolean: !include input_boolean.yaml

input_datetime: !include input_datetime.yaml

input_select: !include input_select.yaml

intent_script: !include_dir_merge_named alexa/intent_scripts

light: !include_dir_merge_list lights

sensor: !include_dir_merge_list sensors

scene: !include scenes.yaml

script: !include_dir_merge_named scripts

template: !include_dir_merge_list templates
